.auth-overlay {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
/* Container */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: url("../assets/pattern.svg") repeat;
    background-size: 200px 200px;
  }
    
  /* Form */
  .auth-form {
    background-color: #000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 360px;
    text-align: center;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;
    border: 2px solid #F5D342;
    transition: box-shadow 0.3s ease-in-out;
    
  }
  .auth-form:hover {
    box-shadow: 0 0 15px #F5D342, 0 0 30px #D4AA04;
  }
  .auth-title {
    margin-bottom: 25px;
    color: #007bff;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .error-text {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Input Styles */
  .input-group {
    position: relative;
    margin-bottom: 20px;
    color: #000;
  }
  
  .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 18px;
  }
  
  .input-group input {
    padding: 12px 15px 12px 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #000;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #007bff;
    background-color: #000;
  }
  
  /* Password Validation */
  .password-hint {
    font-size: 13px;
    margin-bottom: 15px;
  }
  
  .password-hint.valid {
    color: #28a745;
  }
  
  .password-hint.invalid {
    color: #e74c3c;
  }
  
  /* Button */
  .auth-button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .auth-button:active {
    transform: translateY(0);
  }
  
  /* Links */
  .auth-link {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
  }
  
  .auth-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .auth-link a:hover {
    color: #0056b3;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  