

body {
  overflow-x: hidden; /* This prevents horizontal scrolling */
  width: 100%;
  /* background-color: #f9f9f9; Optional: Add a light background color */
}
/* 
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  /* backdrop-filter: blur(10px); /* Blur effect */
  /* z-index: 1000; /* Ensure header is above other content */
/* }  */

/* header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: 88, 35, 44;
}

header .nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .nav-links a {
  color: 88, 35, 44;
  text-decoration: none;
  font-size: 0.9rem;
}

header .nav-links a:hover {
  text-decoration: underline;
} */

/* HomeLanding Styles */
/* .home-landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  background-size: cover;
  background-position: center;
} */