/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  font-family: 'Arial';
  background-color: #F6EEE0;
  /* overflow-x: hidden !important; */
  width: 100%;
  scroll-behavior: smooth;
}
